<section class="dashboard">
    <h1>College Dashboard</h1>
    <section class="block-part">
        <h2>Temperatuur</h2>
        <p class="arduinovalues">
            {{currentTemperature}}&deg;C
        </p>
    </section>
    <section class="block-part">
        <h2>Luchtvochtigheid</h2>
        <p class="arduinovalues">
            {{currentHumidity}}&#37;
        </p>
    </section>
    <section class="block-part">
        <h2>Aantal clicks</h2>
        <p class="arduinovalues">
            {{amounOfClicks}}
        </p>
    </section>
    <section class="block-part">
        <h2>Laatste click</h2>
        <p class="arduinovalues">
            {{latestClick}}
        </p>
    </section>
    <section class="block-part stream">
        <h2>Twitter stream</h2>
        <ul>
            <li>
                <img src="https://ichef.bbci.co.uk/news/660/cpsprodpb/025B/production/_85730600_monkey2.jpg"class="profilepicture" />
                <a href="/" class="name">Chanel Mepschen</a>
                <a href="/" class="username">@ChanelZippora</a>
                <time class="time">
                    20 april 2017
                </time>
                <p class="tweetcontent">
                    <span class="hash">&#35;minorrealtimewebcollege</span> Wat kwam eerst? De kip of het ei?
                </p>
            </li>
            <li>
                <img src="https://ichef.bbci.co.uk/news/660/cpsprodpb/025B/production/_85730600_monkey2.jpg"class="profilepicture" />
                <a href="/" class="name">Chanel Mepschen</a>
                <a href="/" class="username">@ChanelZippora</a>
                <time class="time">
                    20 april 2017
                </time>
                <p class="tweetcontent">
                    <span class="hash">&#35;minorrealtimewebcollege</span> Wat kwam eerst? De kip of het ei?
                </p>
            </li>
            <li>
                <img src="https://ichef.bbci.co.uk/news/660/cpsprodpb/025B/production/_85730600_monkey2.jpg"class="profilepicture" />
                <a href="/" class="name">Chanel Mepschen</a>
                <a href="/" class="username">@ChanelZippora</a>
                <time class="time">
                    20 april 2017
                </time>
                <p class="tweetcontent">
                    <span class="hash">&#35;minorrealtimewebcollege</span> Wat kwam eerst? De kip of het ei?
                </p>
            </li>
            <li>
                <img src="https://ichef.bbci.co.uk/news/660/cpsprodpb/025B/production/_85730600_monkey2.jpg"class="profilepicture" />
                <a href="/" class="name">Chanel Mepschen</a>
                <a href="/" class="username">@ChanelZippora</a>
                <time class="time">
                    20 april 2017
                </time>
                <p class="tweetcontent">
                    <span class="hash">&#35;minorrealtimewebcollege</span> Wat kwam eerst? De kip of het ei?
                </p>
            </li>
            <li>
                <img src="https://ichef.bbci.co.uk/news/660/cpsprodpb/025B/production/_85730600_monkey2.jpg"class="profilepicture" />
                <a href="/" class="name">Chanel Mepschen</a>
                <a href="/" class="username">@ChanelZippora</a>
                <time class="time">
                    20 april 2017
                </time>
                <p class="tweetcontent">
                    <span class="hash">&#35;minorrealtimewebcollege</span> Wat kwam eerst? De kip of het ei?
                </p>
            </li>

        </ul>
    </section>
</section>
