<section class="dashboard">
    <h1>College Dashboard</h1>
    <section class="block-part">
        <h2>Temperatuur</h2>
        <p class="arduinovalues">
            {{currentTemperature}}&deg;C
        </p>
    </section>
    <section class="block-part">
        <h2>Luchtvochtigheid</h2>
        <p class="arduinovalues">
            {{currentHumidity}}&#37;
        </p>
    </section>
    <section class="block-part">
        <h2>Aantal clicks</h2>
        <p class="arduinovalues">
            {{amounOfClicks}}
        </p>
    </section>
    <section class="block-part">
        <h2>Laatste click</h2>
        <p class="arduinovalues">
            {{latestClick}}
        </p>
    </section>
    <section class="block-part stream">
        <h2>Twitter stream</h2>
        <ul><!-- Auto generated --></ul>
    </section>
</section>
